
/*  
div {
    background-color: #22303d;
    height: 1024px;
    position: relative;
    width: 1440px;
  }*/

  @import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

.tasktrack{
    background-color: #23313e;
    border: 4px solid;
    border-color: #e8e4e4;
    border-radius: 30px;
    height: 251px;

    /*left: 361px;*/
    position: absolute;
    top: 142px;
    width: 728px;
  }
  
.circle {
    height: 194px;
    left: 471px;
    position: absolute;
    top: 28px;
    width: 194px;
  }
  
  .ellipse {
    background-color: #e05b3e;
    border-radius: 91.01px/91px;
    height: 182px;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(3.82deg);
    width: 182px;
  }
  
  .text-wrapper {
    color: #22303d;
    font-family: "Jomhuria", Helvetica;
    font-size: 128px;
    font-weight: 400;
    left: 60px;
    letter-spacing: -8.96px;
    line-height: normal;
    position: absolute;
    top: 1px;
    transform: rotate(-10.2deg);
    white-space: nowrap;
  }

  .text-wrapper-2 {
    color: #22303d;
    font-family: "Jomhuria", Helvetica;
    font-size: 128px;
    font-weight: 400;
    left: 95px;
    letter-spacing: -8.96px;
    line-height: normal;
    position: absolute;
    top: 70px;
    transform: rotate(2.06deg);
    white-space: nowrap;
    width: 37px;
  }
  
  .line {
    height: 73px;
    left: 45px;
    position: absolute;
    top: 54px;
    width: 99px;
  }
  